*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2{
    padding: 10px;
}

/* stili header */

header{
    height: 70px;
    /* debug rules */
    /* border: 1px solid black; */
    /* background-color: red; */
}

.topbar{
    display: flex;
    margin: 20px 0;
    height: 30px;
    /* debug rules */
    /* border: 1px solid black; */
    /* background-color:pink; */
}

.nav-options{
    text-align: center;
    width: 35%;
    height: 30px;
    /* debug rules */
    /* border: 1px solid black; */
    /* background-color:blue; */
}
.gutter{
    width: 30%;
    height: 30px;
    /* debug rules */
    /* border: 1px solid black;
    background-color:white; */
}

.text{
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: 20px;
}

span{
    margin-right: 5px;
}

.button{
    margin: 40px auto;
    padding: 8px;
    color: white;
    /* debug rules */
    /* border: 1px solid black; */
    background-color:blue;
}
.button-container{
    margin-right: 10px;
}


/* stili main */

/* sezione1 */
.bg-blue{
    background-color:rgb(41, 146, 192);
    height: 400px;
}
/* sezione2-6 */
.common-section{
    font-size: 20px;
    width: 65%;
    height: 100px;
    margin: 40px auto;
    /* debug rules */
    border: 1px solid black;
    background-color:rgb(255, 255, 255);
}
/* sezione 3 */
.buisness-plan{
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    height: 1100px;
    margin: 0 auto;
    /* debug rules */
    border: 1px solid black;
    background-color:rgb(255, 255, 255);
}

.col{
    width:calc((100% / 3) - 15px );
    margin-right: 20px;
    height: 800px;
    /* debug rules */
    border: 1px solid black;
    background-color:rgb(16, 233, 23);
    margin-bottom: 25px;
}

.heading-col{
    font-size: 20px;
    text-align: center;
    color: black;
    padding: 10px;
    height: 50px;
    width: 100%;
    /* debug rules */
    border: 1px solid black;
}

.main-col{
    font-size: 18px;
    width: 80%;
    height: 500px ;
    margin: 20px auto;
    /* debug rules */
    border: 1px solid black;
}
ul{
    list-style-type: none;
}

li{
    margin-top: 10px;
    display: flex;
    
}
 li .fa-solid {
    margin-right: 5px;
}

li:nth-child(3){
    margin-bottom:40px ;
    color: grey;
}

/* per ora non funziona potrebbe essere per il wrap ma senza non riesco a mandare a capo la raw */
.col:nth-child(3){
    margin-right:0;
}

.raw{
    width: 100%;
    height: 250px ;
    margin-top: 25px;
    /* debug rules */
    border: 1px solid black;
    background-color:rgb(255, 251, 14)
}

/* sezione4 */
.partner{
    width: 65%;
    height: 350px;
    margin: 60px auto;
    /* debug rules */
    border: 1px solid black;
    background-color:rgb(255, 255, 255)
}
/* sezione 5 */
.dropbox-buisness{
    width: 65%;
    height: 800px;
    margin: 60px auto;
    /* debug rules */
    border: 1px solid black;
    background-color:rgb(255, 255, 255)
} 
.card-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 750px;
    /* debug rules */
    border: 1px solid black;
    background-color:rgb(255, 0, 0)
} 

.card{
    width:calc(100% / 3);
    height: 350px;
    /* debug rules */
    border: 1px solid black;
    background-color: brown;
}

/* sezione7 */
.desing{
    display: flex;
    width: 100%;
    height: 350px;
    /* debug rules */
    border: 1px solid black;
}

.desing-card{
    width:calc(100% / 3);
    height: 350px;
    /* debug rules */
    border: 1px solid black;
}

.box{
    width: 65%;
    height:230px ;
    margin: 10px auto;
    /* debug rules */
    border: 1px solid black
}
.desing-container{
    height: 600px;
}

/* stili footer */

footer{
    height: 350px;
    width: 100%;
    /* debug rules */
    background-color: rgb(0, 0, 0);
}

.buttom-bar{
    display: flex;
    margin: 20px auto;
    height: 250px;
    width: 75%;
    /* debug rules */
    border: 1px solid black;
    background-color: brown;
}
.buttom-col{
    width: 250px;
    margin-right: 10px;
    height: 250px;
    /* debug rules */
    border: 1px solid black;
    background-color: rgb(0, 251, 255);
}

.buttom-col:last-child{
    margin-right: 0;
}

.last-box{
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    height: 60px;
    width: 75%;
    /* debug rules */
    border: 1px solid black;
    background-color: brown;
}